.carts{
    display: flex;
    justify-content: space-between;
    
}
.mb-3{
    width: 70%;
}
.add-btn{
    width: 30%;
    padding: 5%;
    margin-top: 5%;
    margin-bottom:5%;
    margin-left: 40%;
    font-size: 40px;
}
.search{
    
}
